# Development tools
bump2version==1.0.1
cookiecutter==2.7.1
coverage==7.15.0
flake8==7.3.0
mccabe==0.7.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytest==9.1.1
pytest-runner==6.0.1
PyYAML==6.0.3
toml==0.10.2
tox==4.56.2
twine==6.2.0
virtualenv==21.6.0

-r requirements.txt
-r requirements-sphinx.txt
-r requirements-travis.txt
